.swiper-button-next,
.swiper-button-prev {
  width: 45px;
  height: 45px;
  background-color: #E35925;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: white;
  font-size: 16px;
  
}