
.imgContainer{
  width: 100%;
  height: 100vh;
}

.imgContainer .overlay{
   position: absolute;
   left: 0;
   top: 0;
   transform: translate(0%);
   width: 100%;
   height: 100%;
}

.imgContainer .overlay img{
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.imgContainer .colorBg{
  background: linear-gradient(#E35925, #252D48);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0);
  opacity: 0.2;
}

.galleryTitle{
  position: absolute;
  left: 5%;
  top: 50%;
  text-shadow: 10px 20px 45px rgb(222, 132, 22);
}

/*
.imgContainer {
    width: 100%;
    height: 100vh;
    position: fixed;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;

  }
  
  .overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.4;
}
  
  
.colorBg{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  background: linear-gradient(#E35925, #231F20);
  opacity: 0.2;
}



.galleryTitle{
  text-shadow: 10px 20px 45px rgb(222, 132, 22);
}
*/